.navbar {
  display: flex;
  justify-content: flex-end;
  background: var(--primary-color);
  padding: 1rem;
  color: var(--text-color);
  font-weight: bold;
}

.nav-right {
  display: flex;
  margin-right: 5rem;
  gap: 3rem;
}
