.navbar {
  display: flex;
  justify-content: flex-end;
  background: var(--background-color);
  padding: 0.5rem 1rem;
  color: var(--text-color);
  font-weight: bold;
}

.nav-right {
  display: flex;
  margin-right: 5rem;
  gap: 3rem;
}


.user-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.user-avatar {
  background: var(--background-color);
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon {
  width: 20px;
  height: 20px;
  user-select: none;
}

.chevron {
  font-size: 0.8rem;
  transition: transform 0.3s ease;
  color: var(--primary-color);
  user-select: none;

}

.chevron.expanded {
  transform: rotate(180deg);
}

