/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
  }


  :root {
    --primary-color: #2e4a6e;
    --secondary-color: #f0f0f0;
    --text-color: #ffffff;
    --background-color: #ffffff;
    --font-family: 'Fredoka', sans-serif;
    --secondary-font-color: #f0f0f0;
  }
  